<section class="property-biding">

  <!--article>
    <h3> Interpolation/ Interpolação </h3>
    <p>String rederizada com interpolação: {{ url }}</p>
    <p>1 + 1 = {{ 1 + 1 }}</p>
    <p>1 + 1 != {{ 1 + 1 + getValor() }}</p>
    <p> {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Binding Image</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">
    <img bind-src="urlImage">
  </article-->
  
  <article>

    <h3> Class and Style Binding</h3>
    <div>
      Selecione uma classe
      <select #class (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
    </div>

    <br><br>

    <div class="alert" role="alert"
      [class.alert-success]="class.value == 'alert-success'">
      Sucesso
    </div>
    <div class="alert" role="alert"
      [class.alert-info]="class.value == 'alert-info'">
      Info
    </div>
    <div class="alert" role="alert"
      [class.alert-warning]="class.value == 'alert-warning'">
      Alerta
    </div>
    <div class="alert" role="alert"
      [class.alert-danger]="class.value == 'alert-danger'">
      Erro
    </div>

  </article>


</section>
