<section class="property-biding">

  <!--<article>
    <h3> Interpolation/ Interpolação </h3>
    <p>String rederizada com interpolação: {{ url }}</p>
    <p>1 + 1 = {{ 1 + 1 }}</p>
    <p>1 + 1 != {{ 1 + 1 + getValor() }}</p>
    <p> {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Binding Image</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">
    <img bind-src="urlImage">
  </article>-->
  
  <!--<article>

    <h3> Class and Style Binding</h3>
    <div>
      Selecione uma classe
      <select #class (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
    </div>

    <br><br>

    <div class="alert {{ class.value }}" role="alert">
      Esse texto vai ser da cor 
    </div>

    <div class="alert" role="alert"
      [class.alert-success]="class.value == 'alert-success'">
      Sucesso
    </div>
    <div class="alert" role="alert"
      [class.alert-info]="class.value == 'alert-info'">
      Info
    </div>
    <div class="alert" role="alert"
      [class.alert-warning]="class.value == 'alert-warning'">
      Alerta
    </div>
    <div class="alert" role="alert"
      [class.alert-danger]="class.value == 'alert-danger'">
      Erro
    </div>

    <div class="alert alert-danger" role="alert"
      [style.display]="class.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto so vai aparecer em caso de erro.
    </div>

  </article>-->

  <!--<article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="buttonClicked()" 
      class="btn btn-primary">
        Me Click
      </button>

      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter) = "saveValue($event.target.value)">

      <p>Novo Valor: {{ newValue }}</p>
      <p>Valor Salvo: {{ valueSaved }}</p>

      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver">
        Passe o mouse sobre mim
      </span>

    </div>
  </article>-->

  <article>
    <h3>Two-way data binding</h3>
    <div>

      <input type="text"
      [value]="name"
      (input)="name = $event.target.value">

      <input [(ngModel)]="name">


      <label>{{ name }}</label>
    </div>

    <div>
      <input type="text" [(ngModel)]="pessoa.name">
      <input type="text" [(ngModel)]="pessoa.age">

      <p>{{ pessoa.name }}</p>      
      <p>{{ pessoa.age }}</p>

    </div>

    <h2>{{ inputName }}</h2>

  </article>




<app-output-property [value]="value" (changeValue)="onChangeValue($event)"></app-output-property>
<button (click)="changeValue()"></button>



</section>
